@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 15;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  padding: 0px 25px;
}

.container__header .container__header--logo img {
  width: 170px;
}

.container__header .container__header--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__header .container__header--nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__header .container__header--nav ul li {
  margin-right: 18px;
  font-size: 1.5em;
  font-weight: bold;
}

.container__header .container__header--nav ul li a {
  text-decoration: none;
  color: #15285B;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.container__header .container__header--nav ul li a:hover {
  color: #59E4E1;
}

.container__header .container__header--nav button {
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: transparent;
  color: #002BE8;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border: 1px solid #9A9A9A;
}

.container__header .container__header--nav button:last-child {
  margin-right: 0px;
}

.container__header .container__header--nav button:hover {
  background-color: #9A9A9A;
  border: none;
}

@media (max-width: 500px) {
  header .container__header {
    display: none;
  }
}

.container__banner {
  background: none;
  height: 750px;
  width: 94.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.199) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.199) 0px 1px 2px 0px;
}

.container__banner .container__banner--text {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0px 40px;
  font-family: "Merriweather", serif;
  color: #15285B;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-bottom: 65px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.container__banner .container__banner--text h2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#08165d), to(#9383ff));
  background-image: linear-gradient(to top, #08165d, #9383ff);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  /* Adicionado: */
  -webkit-text-fill-color: transparent;
  font-size: 5em;
  max-width: 690px;
  font-weight: bold;
  line-height: 110px;
}

.container__banner .container__banner--text p {
  margin-top: 15px;
  line-height: 45px;
  font-size: 1.5em;
  max-width: 450px;
}

.container__banner .container__banner--text button {
  font-family: "Merriweather", serif;
  margin-top: 35px;
  width: 25%;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: #4D3FED;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}

.container__banner .container__banner--text .container__banner--img {
  display: none;
}

@media (max-width: 500px) {
  .container__banner {
    height: auto;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    background-color: #DCDEF9;
  }
  .container__banner .container__banner--text {
    width: 100vw;
    padding: 45px 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container__banner .container__banner--text h2 {
    padding-left: 25px;
    font-size: 1.5em;
    max-width: 60vw;
    line-height: 25px;
  }
  .container__banner .container__banner--text p {
    padding-left: 25px;
    font-size: 1em;
    max-width: 60vw;
    line-height: 15px;
  }
  .container__banner .container__banner--text button {
    margin-left: 25px;
    width: 50%;
    font-size: 1.1em;
  }
  .container__banner .container__banner--text .container__banner--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container__banner .container__banner--text .container__banner--img img {
    width: 100%;
    height: 300px;
  }
}

.mission {
  background-color: #F5F5F5;
  height: 800px;
  padding-top: 80px;
}

.mission .container__mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission .container__mission .container__mission--img img {
  width: 550px;
}

.mission .container__mission .container__mission--presentation {
  height: auto;
  padding: 35px 40px;
  color: #15285B;
  font-family: "Merriweather", serif;
}

.mission .container__mission .container__mission--presentation h2 {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 15px;
}

.mission .container__mission .container__mission--presentation .container__presentation--01 {
  background-color: #F5F5F5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, #d1d5db 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, #d1d5db 0px 0px 0px 1px inset;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 8px;
  height: auto;
  margin-bottom: 45px;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.mission .container__mission .container__mission--presentation .container__presentation--01:hover {
  background-color: #59E4E1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.mission .container__mission .container__mission--presentation .container__presentation--01 h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 15px;
}

.mission .container__mission .container__mission--presentation .container__presentation--01 p {
  font-size: 1em;
}

@media (max-width: 500px) {
  .mission {
    height: auto;
  }
  .mission .container__mission {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mission .container__mission .container__mission--img img {
    width: 90%;
  }
  .mission .container__mission .container__mission--presentation {
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mission .container__mission .container__mission--presentation h2 {
    font-size: 1.2em;
  }
  .mission .container__mission .container__mission--presentation .container__presentation--01 {
    width: 92vw;
    padding: 25px 10px;
  }
  .mission .container__mission .container__mission--presentation .container__presentation--01 h3 {
    font-size: 1.3em;
  }
  .mission .container__mission .container__mission--presentation .container__presentation--01 p {
    font-size: 1em;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.properties {
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F5F5;
}

.properties .container__properties {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.properties .container__properties h2 {
  font-size: 2.5em;
  font-weight: bold;
  color: #15285B;
}

.properties .container__properties .container__properties--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 600px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.properties .container__properties .container__properties--box .container__box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #15285B;
  height: 550px;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.properties .container__properties .container__properties--box .container__box:hover {
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.properties .container__properties .container__properties--box .container__box .container__box--img {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

.properties .container__properties .container__properties--box .container__box .container__box--img img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .box__progress {
  height: 25px;
  width: 90%;
  position: relative;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .box__progress progress {
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .box__progress progress::-webkit-progress-bar {
  background-color: #9A9A9A;
  border-radius: 50px;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .box__progress progress::-webkit-progress-value {
  background-color: #59E4E1;
  border-radius: 50px;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .box__progress .box__progress--txt {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .box__progress .box__progress--txt #number {
  font-size: 1.2em;
  font-weight: bold;
  color: #F5F5F5;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .box__progress .box__progress--txt #tokens {
  font-size: 1.1em;
  font-weight: bold;
  color: #9A9A9A;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .container__box--text {
  width: 100%;
  height: 60px;
  text-align: center;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .container__box--text p {
  color: #F5F5F5;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .container__box--text #local {
  text-transform: capitalize;
  font-size: 1.1em;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .divisao {
  margin-top: 15px;
  height: 3px;
  width: 50%;
  border-radius: 50px;
  background-color: #59E4E1;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .container__box--dados {
  margin-top: 25px;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F5F5F5;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .container__box--dados #dados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 35px;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 20px;
}

.properties .container__properties .container__properties--box .container__box .container__box--info01 .container__box--dados #dados--coc {
  width: 30%;
  font-size: 1.4em;
  font-weight: bold;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.properties .container__properties .container__properties--btn {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.properties .container__properties .container__properties--btn .properties--btn {
  width: 20%;
  background-color: #4D3FED;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 18px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.properties .container__properties .container__properties--btn .properties--btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.properties .container__properties .container__properties--btn .properties--btn a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
  color: #F5F5F5;
}

@media (max-width: 500px) {
  .properties {
    height: 2000px;
  }
  .properties .container__properties h2 {
    font-size: 2em;
    height: auto;
  }
  .properties .container__properties .container__properties--box {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
  }
  .properties .container__properties .container__properties--box .container__box {
    width: 90vw;
    margin: 15px 0px;
  }
  .properties .container__properties .container__properties--btn {
    width: 100%;
    padding: 55px 0px;
  }
  .properties .container__properties .container__properties--btn .properties--btn {
    width: 90%;
  }
}

.overflow {
  overflow: hidden;
  border: 1px solid #59E4E1;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.overflow .overflow-hidden {
  background-color: #15285B;
  padding-left: 50%;
  overflow: hidden;
  width: 100%;
}

.overflow .overflow-hidden .inline-itens {
  padding: 1.5em 0;
  padding-right: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.overflow .overflow-hidden .inline-itens .itens {
  padding: 0 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  line-height: 1.75rem;
  -webkit-animation: sticker 85s linear infinite;
          animation: sticker 85s linear infinite;
  white-space: nowrap;
  border-left: 1px solid #F5F5F5;
}

.overflow .overflow-hidden .inline-itens .itens #local {
  color: #59E4E1;
  margin-right: auto;
  font-weight: bold;
}

.overflow .overflow-hidden .inline-itens .itens #valor {
  color: #59E4E1;
  padding: 0px 25px;
}

.overflow .overflow-hidden .inline-itens .itens #taxa {
  color: #4FED9A;
  padding: 0 25px;
}

.overflow .overflow-hidden .inline-itens .itens img {
  height: 20px;
}

@-webkit-keyframes sticker {
  0% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
  50% {
    -webkit-transform: translateX(-4050px);
            transform: translateX(-4050px);
  }
  100% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
}

@keyframes sticker {
  0% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
  50% {
    -webkit-transform: translateX(-4050px);
            transform: translateX(-4050px);
  }
  100% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
}

.contributors {
  position: relative;
  overflow: hidden;
  padding: 20px;
  height: 800px;
  background-color: #F5F5F5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container__contributors {
  padding: 10vh 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container__contributors::-webkit-scrollbar {
  display: none;
}

.contributors--cards {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 350px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-right: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards--img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 50px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cards--img img {
  height: 620px;
}

.cards--info {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 85px;
}

.cards--info h3 {
  font-size: 2em;
  font-weight: bold;
  font-family: "Merriweather", serif;
  margin-bottom: 25px;
  line-height: 45px;
  color: #F5F5F5;
}

.cards--info p {
  font-size: 1em;
  color: #727171;
  font-weight: bold;
}

.pre-btn, .nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  cursor: pointer;
  z-index: 9;
}

.pre-btn {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

/*

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:  10px;
}

.collection {
    position: relative;

}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
}
*/
.invest {
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EEF5F7;
}

.invest .container__invest {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0px;
}

.invest .container__invest h2 {
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Merriweather", serif;
  margin-bottom: 45px;
}

.invest .container__invest .container__invest--cards {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.invest .container__invest .container__invest--cards .invest--cards {
  width: 33.17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.invest .container__invest .container__invest--cards .invest--cards .invest--cards--img img {
  margin-bottom: 35px;
  height: 60px;
}

.invest .container__invest .container__invest--cards .invest--cards .invest--cards--infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
}

.invest .container__invest .container__invest--cards .invest--cards .invest--cards--infos h3 {
  font-size: 1.5em;
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #15285B;
  margin-bottom: 15px;
}

.invest .container__invest .container__invest--cards .invest--cards .invest--cards--infos p {
  max-width: 80%;
  font-size: 1.1em;
  font-family: "Merriweather", serif;
  color: #15285B;
}

@media (max-width: 500px) {
  .invest {
    height: 1500px;
    width: 100%;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
  .invest .container__invest {
    height: 1000px;
    padding: 0px;
  }
  .invest .container__invest h2 {
    font-size: 2em;
    max-width: 350px;
  }
  .invest .container__invest .container__invest--cards {
    width: 100%;
  }
  .invest .container__invest .container__invest--cards .invest--cards {
    width: 100%;
    margin-bottom: 35px;
  }
}
/*# sourceMappingURL=main.css.map */