@import '../../variaveis/var';

.container__banner{
    background: none;
    height: 750px;
    width: 94.7%;
    display: flex;
    padding:0px 35px;
    box-shadow: rgba(0, 0, 0, 0.199) 0px 1px 2px 0px;

    .container__banner--text{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0px 40px;
        font-family: $font-primary;
        color: $color--01;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        margin-bottom: 65px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

        h2 {
            background-image: linear-gradient(to top, #08165d, #9383ff);
            color: black;
            background-clip: text;
            -webkit-background-clip: text;

  /* Adicionado: */
            -webkit-text-fill-color: transparent;
            font-size: 5em;
            max-width: 690px;
            font-weight: bold;
            line-height: 110px;
        }

        p {
            margin-top: 15px;
            line-height: 45px;
            font-size: 1.5em;
            max-width: 450px;
        }

        button{
            font-family: $font-primary;
            margin-top: 35px;
            width: 25%;
            height: 60px;
            border: none;
            border-radius: 30px;
            background-color: #4D3FED;
            color: white;
            font-size: 1.3em;
            font-weight: bold;
        }

        .container__banner--img{
            display: none;
        }
    }
   
}

@media (max-width: 500px) {
    .container__banner {
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 0px;
        background-color: #DCDEF9;
      
        
     .container__banner--text{
            width: 100vw;
            padding: 45px 0px ;
            box-shadow: none;
            display: flex;
            align-items: flex-start;
         

            h2{
                padding-left: 25px;
                font-size: 1.5em;
                max-width: 60vw;
                line-height: 25px;
            }

            p{
                padding-left: 25px;

                font-size: 1em;
                max-width: 60vw;
                line-height: 15px;
            }

            button {
                margin-left: 25px;
                width: 50%;
                font-size: 1.1em;
            }

            .container__banner--img{
                display: flex;
             

                img{
                    width: 100%;
                    height: 318px;
                }
            }
        }
       
    }

}