@import '../../../variaveis/var';


.invest{
    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF5F7;



    .container__invest{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 0px;

        h2{
            font-size: 2.5em;
            font-weight: bold;
            font-family: $font-primary;
            margin-bottom: 45px;
            color: $color--01;
        }

        .container__invest--btn{
            text-align: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100px;

        
                .invest--btn{
                    width: 20%;
                background-color: #4D3FED;
                height: 40px;
                display: flex;
                
                align-items: center;
                justify-content: center;
            
                border-radius: 18px ;
                transition: 1s ease-in-out;

                &:hover{
                    transform: scale(1.1);
                    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

                }
                a{
                    text-decoration: none;
                    font-size: 1.5em;
                    font-weight: 600;
                    color: $color--02;
                }
                }
            

        }

        .container__invest--cards{
            width: 98%;
            display: flex;
            height: auto;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            .invest--cards{
                width: 33.17%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                
                .invest--cards--img{
                                      
                    img{
                        margin-bottom: 35px;
                        height: 60px;
                    }
                }

                .invest--cards--infos{  
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 15px;

                    h3{
                        font-size: 1.5em;
                        font-family: $font-primary;
                        font-weight: 700;
                        color: $color--01;
                        margin-bottom: 15px;
                    }

                    p{
                        max-width: 80%;
                        font-size: 1.1em;
                        font-family: $font-primary;
                        color: $color--01;

                    }
                }
                
            }



        }
    }
}



@media (max-width: 850px){
    .invest{
        height: 1500px;
        width: 100vw;
        align-items: inherit;
        justify-content: inherit;


        .container__invest{
            height: 1000px;
            padding: 0px;
            h2{
                font-size: 2em;
                max-width: 350px;
            }

            .container__invest--cards{
                width: 100%;
               .invest--cards{
                   width: 100%;
                   margin-bottom: 35px;
              }

            }
            .container__invest--btn{
                width: 100%;
                
                .invest--btn{
                    width: 50%;
                }
            }
        }
    }
}


