@import '../../variaveis/var';

.mvc__blog{
    font-family: $font-primary;
    height: 100vh;
    background-color: $color--02;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        margin: 15px 0px;
        font-size: 2em;
        font-weight: bold;
        color: $color--01;
    }

    .form__blog{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        
        .form__group{
            margin: 8px;
            width: 80%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .label--blog{
                position: none;
                display: inherit;
                width: 85%;
                font-size: 1.5em;
                padding-bottom: 5px;
                color: $color--01;
                font-weight: bold;
            }

            .input{
                width: 85%;
                height: 35px;
                font-size: 1.3em;
                text-align: center;
                font-weight: bold;
                border: none;
                border-top-left-radius: 8px;
                border-bottom-right-radius: 8px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                border-color: none;
                text-transform: capitalize;

            }

            .areatxt{
                font-weight: normal;
                height: 100px;
                text-align: start;
                padding: 5px 10px;
                text-transform: none;
            }
        }

        .btn--post{
            cursor: pointer;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            margin-top: 15px;
            width: 50%;
            height: 40px;
            border: none;
            background-color: $color--01;
            border-radius: 10px;
            color: $color--04;
            font-size: 1.3em;
            font-weight: bold;

        }
    }
}