@import '../../variaveis/var';

.decentralized {
    background-image: url(https://www.lofty.ai/static/media/background-report.197b5abc91fdd5eb796f.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-primary;

    .container__decentralized{
        display: flex;
        align-items: end;
        justify-content: space-evenly;
       // border: 1px solid yellow;
        height: 800px;
        width: 100%;

        .decentralized--txt{
            //border: 1px solid red;
            color: $color--02;
            width: 40%;
            height: 450px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h3{
                font-size: 2em;
                font-weight: bold;
                margin: 30px 0px;
            }
            p{
                font-size: 1.4em;
                line-height: 40px;
            }

        }
        .decentralized--img{
            //width: 50%;
            height: auto;


            img {
                height: 400px;
            }
        }
    }
}


@media (max-width: 500px) {

    .decentralized{
        background-image: none;
        background-color: #07183C;
        height: 900px;
        width: 101vw;
        .container__decentralized{
            height: 800px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           
            .decentralized--txt{
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 45px;
                width: 90%;
                height: 400px;

                h3{
                    font-size: 1.3em;
                }
                p{
                    font-size: 1.1em;
                }
            }

            .decentralized--img{
                
                img{
                    height: 400px;
                }
            
            }
        }
    }
}