@import '../../variaveis/var';

.decentralized {
    background-image: url(https://www.lofty.ai/static/media/background-report.197b5abc91fdd5eb796f.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-primary;

    .container__decentralized{
        display: flex;
        align-items: end;
        justify-content: space-evenly;
       // border: 1px solid yellow;
        height: 800px;
        width: 100%;

        .decentralized--txt{
            //border: 1px solid red;
            color: $color--02;
            width: 40%;
            height: 450px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h3{
                font-size: 2em;
                font-weight: bold;
                margin: 30px 0px;
            }
            p{
                font-size: 1.4em;
            }

        }
        .decentralized--img{
            //width: 50%;
            height: auto;


            img {
                height: 400px;
            }
        }
    }
}