@import '../variaveis/var';
header{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 15;
}
.container__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0px 25px;


    .container__header--logo {
        img{
            width: 170px
        };
    }

    .container__header--nav{
        display: flex;
        align-items: center;

        ul{
            display: flex;

            li{
                margin-right: 18px;
                font-size: 1.5em;
                font-weight: bold;


                a{
                    text-decoration: none;
                    color: #15285B;
                    transition: 1s ease-in-out;
                
                    &:hover{
                        color: #59E4E1;
                    }
                }

            }

        }

        button {
            margin-right: 5px;
            border: none;
            border-radius: 5px;
            width: 150px;
            height: 40px;
            font-size: 1.2em;
            font-weight: bold;
            background-color: transparent;
            color: #002BE8;            ;
            transition: 0.6s ease;
            border: 1px solid $color--03;
            
            &:last-child {
                margin-right: 0px;
            }
            &:hover{
                background-color: $color--03;
                border: none;
            }
        }
       


    }
}